attrs:
  # https://ioos.github.io/ioos-metadata/ioos-metadata-profile-v1-2.html
  # https://wiki.esipfed.org/Attribute_Convention_for_Data_Discovery_1-3
  # Dataset Description
  conventions: "CD-1.6, ACDD-1.3, IOOS-1.2"
  featureType: timeseries
  id: MCRLdata_TideGauge
  infoURL: https://www.osti.gov/biblio/1842840
  license: Freely Distributed
  naming_authority: gov.pnnl.sequim
  standard_name_vocabulary: CF Standard Name Table v79
  title: MCRLdata at PNNL-Sequim - Tide Gauge
  # TODO: Change to "Summary" to meet standards
  description: "A Nile YSI Micropilot FMR51 was deployed on the Marine and Coastal Research Laboratory (MCRL) 
  pier at the Pacific Northwest National Laboratory (PNNL) campus in Sequim, Washington. The instrument 
  emits continuous, non-contact microwave transmission to measure distance to the water surface (meters), 
  which allow measurement of tidal cycles. This deployment is part of the MCRLdata project to establish 
  long-term marine monitoring at the PNNL-Sequim Campus."
  keywords: Sequim, data, marine, water level, tide gauge
  
  # Attribution
  creator_country: USA
  creator_email: mcrldata at pnnl.gov
  creator_institution: Pacific Northwest National Laboratory (PNNL) - Sequim
  creator_institution_url: https://www.pnnl.gov/
  creator_sector: other
  creator_type: institution
  creator_url: https://www.pnnl.gov/
  institution: Pacific Northwest National Laboratory (PNNL)
  publisher_country: USA
  publisher_email: mcrldata at pnnl.gov
  publisher_institution: Pacific Northwest National Laboratory (PNNL) - Sequim
  publisher_url: https://www.pnnl.gov/
  
  # Platform and Instrument
  platform: pier
  platform_name: mcrl_pier
  platform_vocabulary: https://mmisw.org/ont/ioos/platform
  instrument: In Situ/Laboratory Instruments > Gauges > Tide Gauges
  instrument_vocabulary: GCMD Instrument Keywords #https://gcmd.earthdata.nasa.gov/KeywordViewer/
  make_model: FMR-51 YSI-Nile
  calibration_date: "2021-03-04"
  
  # Geospatial and Time
  geospatial_bounds: POINT(48.07928 -123.04512)
  geospatial_bounds_crs: "EPSG:4326"
  geospatial_bounds_vertical_crs: "EPSG:5703"
  geospatial_vertical_positive: up
  time_coverage_start: "2021-03-04"
  time_coverage_resolution: "5:00"
  
  # TODO: Can we delete these? Part of storage location and file name right now...
  location_id: tide_gauge
  dataset_name: mcrl_pier
  qualifier: ysi_nile_1
  temporal: 5min
  data_level: a1

coords:
  time:
    dims: [time]
    dtype: datetime64[ms]
    attrs:
      long_name: Time (UTC)
      standard_name: time
      units: seconds since 1970-01-01 00:00:00
      cf_role: timeseries_id
      coverage_content_type: coordinate
      timezone: UTC

data_vars:
  water_level:
    dims: [time]
    dtype: float
    attrs:
      long_name: Water Level (m)
      standard_name: sea_surface_height_above_geopotential_datum
      units: m
      coverage_content_type: physicalMeasurement
      description: "water surface level relative to NAVD88"
      vertical_datum: NAVD88
      fail_min: -2
      fail_max: 5